<div class="container-fluid">
  <div class="informacoes mt-3">
    <div class="title-info align-self-center d-flex align-items-center gap-5">
      <span> FORMAÇÃO ACADEMICA </span>
      <span class="material-symbols-outlined">
      school
      </span>
    </div>

    <div class="superior">
      <p class="title-superior mt-3">Formação Superior</p>
      <ul class="list-superior">
        <li class="list-unstyled"><strong> FATEC PG (Cursando) </strong></li>
        <li> Análise e Desenvolvimento de Sistemas</li>
        <li> Inicio: 06/2021 - Conclusão: 06/2024</li>
      </ul>
    </div>
    <div class="extracurricular">
      <p class="title-extracurricular mt-3"> Cursos Extracurriculares </p>
      <ul class="list-extracurricular">
        <li class="list-unstyled"><strong> ETEC FERRAZ DE VASCONCELOS </strong></li>
        <li> Técnico em Informática</li>
        <li> Inicio: 03/2018 - Conclusão: 12/2020</li>
      </ul>
    </div>
    <div class="outros-cursos">
      <p class="title-outros-cursos mt-3"> Outros Cursos </p>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> DIGITAL INNOVATION </strong></li>
        <li> Québec Java Digital </li>
        <li> Duração: 93 horas </li>
      </ul>
      <hr>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> CISCO NETWORKING ACADEMY </strong></li>
        <li> IT Essentials: PC Hardware and Software </li>
        <li> Duração: 2 meses </li>
      </ul>
    </div>

    <div class="certificados">
      <p class="title-certificados mt-3"> Certificados </p>
      <ul class="lista-certificados">
        <li class="card"*ngFor="let item of certificados" (click)="openDialog(item.src, item.alt)">
          <img src="{{item.src}}" alt="{{item.alt}}">
          <div class="middle">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#000" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
