<div class="container-fluid">
  <div class="informacoes mt-3">
    <div class="title-info align-self-center d-flex align-items-center gap-5">
      <span> FORMAÇÃO ACADÊMICA </span>
      <span class="material-symbols-outlined">
      school
      </span>
    </div>
    <hr class="hr-mobile">
    <div class="superior">
      <p class="title-superior mt-3">Formação Superior</p>
      <ul class="list-superior">
        <li class="list-unstyled"><strong> FATEC PG (Cursando) </strong></li>
        <li> Análise e Desenvolvimento de Sistemas</li>
        <li> Inicio: 06/2021 - Conclusão: 06/2024</li>
      </ul>
    </div>
    <div class="extracurricular">
      <p class="title-extracurricular mt-3"> Cursos Extracurriculares </p>
      <ul class="list-extracurricular">
        <li class="list-unstyled"><strong> ETEC FERRAZ DE VASCONCELOS </strong></li>
        <li> Técnico em Informática</li>
        <li> Inicio: 03/2018 - Conclusão: 12/2020</li>
      </ul>
    </div>
    <div class="outros-cursos">
      <p class="title-outros-cursos mt-3"> Outros Cursos </p>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> DIGITAL INNOVATION </strong></li>
        <li> Québec Java Digital </li>
        <li> Duração: 93 horas </li>
      </ul>
      <hr>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> CISCO NETWORKING ACADEMY </strong></li>
        <li> IT Essentials: PC Hardware and Software </li>
        <li> Duração: 2 meses </li>
      </ul>
      <hr>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> ENAP </strong></li>
        <li> LGPD: Fundamentos da Lei Geral de Proteção de Dados </li>
        <li> Duração: 15 horas </li>
      </ul>
      <hr>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> ORACLE ACADEMY </strong></li>
        <li> DD Database Design </li>
        <li> Duração: 180 horas </li>
      </ul>
      <hr>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> SCRUMSTUDY </strong></li>
        <li> SFC: Scrum Fundamentals </li>
        <li> Duração: 14 horas </li>
      </ul>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> ORACLE ACADEMY </strong></li>
        <li> DP Database Programming with SQL </li>
        <li> Duração: 180 horas </li>
      </ul>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> CISCO NETWORKING ACADEMY </strong></li>
        <li> Cybersecurity Essentials </li>
        <li> Duração: 1 mês e meio </li>
      </ul>
    </div>

    <div class="certificados-desktop">
      <p class="title-certificados-desktop mt-3"> Certificados </p>
      <ul class="lista-certificados-desktop p-0 gap-3">
        <li class="card mb-3"*ngFor="let item of certificados" (click)="viewFile(item.src)">
          <img src="{{item.src}}" alt="{{item.alt}}">
          <div class="middle-desktop">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#000" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
          </div>
        </li>
      </ul>
    </div>

    <div class="certificados-mobile mb-5">
      <p class="title-certificados-mobile mt-3"> Certificados </p>
      <p class="text-center"><i>Deslize</i></p>
      <p class="text-center"><i>Clique na imagem para visualizar</i></p>
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item" [class]="i==0?'active':null" *ngFor="let img of certificados;let i= index" (click)="viewFile(img.src)">
            <img src="{{img.src}}" alt="{{img.alt}}" class="d-block w-100">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>
  </div>
</div>
