<div class="container-fluid">
  <div class="informacoes mt-5">
    <div class="title-info align-self-center">FORMAÇÃO ACADEMICA</div>

    <div class="superior">
      <p class="title-superior mt-3">Formação Superior</p>
      <ul class="list-superior">
        <li class="list-unstyled"><strong> FATEC PG (Cursando) </strong></li>
        <li> Análise e Desenvolvimento de Sistemas</li>
        <li> Inicio: 06/2021 - Conclusão: 06/2024</li>
      </ul>
    </div>
    <div class="extracurricular">
      <p class="title-extracurricular mt-3"> Cursos Extracurriculares </p>
      <ul class="list-extracurricular">
        <li class="list-unstyled"><strong> ETEC FERRAZ DE VASCONCELOS </strong></li>
        <li> Técnico em Informática</li>
        <li> Inicio: 03/2018 - Conclusão: 12/2020</li>
      </ul>
    </div>
    <div class="outros-cursos">
      <p class="title-outros-cursos mt-3"> Outros Cursos </p>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> DIGITAL INNOVATION </strong></li>
        <li> Québec Java Digital </li>
        <li> Duração: 93 horas </li>
      </ul>
      <hr>
      <ul class="list-outros-cursos">
        <li class="list-unstyled"><strong> CISCO NETWORKING ACADEMY </strong></li>
        <li> IT Essentials: PC Hardware and Software </li>
        <li> Duração: 2 meses </li>
      </ul>
    </div>

    <div class="certificados">
      <p class="title-certificados mt-3"> Certificados </p>
      <ul class="lista-certificados">
        <li class="card">
          <img src="assets\certificates\cisco_certificado.png" alt="cisco_certificado">
        </li>
        <li>
          teste
        </li>
      </ul>
    </div>
  </div>
</div>
