<div class="container-fluid">
  <div class="informacoes mt-5">
    <div class="title-info align-self-center d-flex align-items-center gap-4">
      <p class="font-45"> EXPERIÊNCIA PROFISSIONAL </p>
      <span class="material-symbols-outlined font-50">
        card_travel
      </span>
    </div>
    <hr class="hr-mobile">

    <div class="d-flex experiencias w-100 justify-content-around flex-wrap gap-1">

      <div class="emprego">
        <p class="title mt-4"> Estágio </p>
        <p class="subtitle mb-0"> Prefeitura de São Vicente</p>
        <ul class="lista">
          <li class="list-unstyled">Estágio em Desenvolvimento de Sistemas</li>
          <li class="list-unstyled">Atividades Excercidas:
            <ul>
              <li>Documentação de sistemas e APIs</li>
              <li>Desenvolvimento Front-End de sistemas WEB</li>
              <li>Desenvolvimento Backend de sistemas WEB</li>
              <li>Atualização e Manutenção de sites e sistemas internos</li>
            </ul>
          </li>
          <li class="list-unstyled"> Ferramentas utilizadas:
            <ul>
              <li>Java SpringBoot</li>
              <li>Angular CLI</li>
              <li>PostgreSQL, MySql e Firebird</li>
              <li>HTML CSS e JavasScript</li>
              <li>Bootstrap</li>
              <li>PHP</li>
              <li>Github e GitLab</li>
              <li>Swagger</li>
            </ul>
          </li>
          <hr>
          <li class="list-unstyled">Inicio: 06/2022</li>
          <li class="list-unstyled">Término: 11/2023</li>
        </ul>
      </div>

      <div class="emprego">
        <p class="title mt-4"> Técnico em Help Desk </p>
        <p class="subtitle mb-0">Grupo Embras</p>
        <ul class="lista">
          <li class="list-unstyled">Técnico de Help Desk ao ERP Geosiap</li>
          <li class="list-unstyled">Atividades Excercidas:
            <ul>
              <li>Suporte aos módulos do ERP Geosiap (Tributos Municipais) </li>
              <li>Realização de relatórios SQL</li>
              <li>Atualização e manutenção em procedures e views do banco</li>
              <li>Monitoramento e atendimento de chamados via sistema</li>
              <li>Comunicação direta com clinte</li>
            </ul>
          </li>
          <li class="list-unstyled"> Ferramentas utilizadas:
            <ul>
              <li>ERP Geosiap</li>
              <li>Banco de dados Firebird</li>
              <li>SQL Avançado</li>
              <li>PL/SQL</li>
              <li>GLPI (chamados)</li>
              <li>Tiflux (chamados)</li>
              <li>Github</li>
            </ul>
          </li>
          <hr>
          <li class="list-unstyled">Inicio: 11/2023</li>
          <li class="list-unstyled">Emprego atual</li>
        </ul>
      </div>

    </div>

  </div>
</div>
