<div class="container-fluid">
  <div class="informacoes mt-5">
    <div class="title-info align-self-center d-flex align-items-center gap-4">
      <p class="font-45"> EXPERIÊNCIA PROFISSIONAL </p>
      <span class="material-symbols-outlined font-50">
        card_travel
      </span>
    </div>
    <hr class="hr-mobile">

    <div class=" d-flex flex-column">
      <p class="title-estagio mt-4"> Estágio </p>
      <p class="subtitle-estagio mb-0"> Prefeitura de São Vicente</p>
      <ul class="lista-estagio">
        <li class="list-unstyled">Estágio em Desenvolvimento de Sistemas</li>
        <li class="list-unstyled">Atividades Excercidas:
          <ul>
            <li>Documentação de sistemas e APIs</li>
            <li>Desenvolvimento Front-End de sistemas WEB</li>
            <li>Atualização e Manutenção de sites e sistemas internos</li>
            <li>Atualização de dumps em sistemas</li>
          </ul>
        </li>
        <li class="list-unstyled"> Ferramentas utilizadas:
          <ul>
            <li>Java SpringBoot</li>
            <li>Angular CLI</li>
            <li>PostgreSQL, MySql e Firebird</li>
            <li>HTML CSS e JavasScript</li>
            <li>Bootstrap</li>
            <li>PHP</li>
            <li>Github e GitLab</li>
            <li>Swagger</li>
          </ul>
        </li>
        <hr class="w-95">
        <li class="list-unstyled">Inicio: 06/2022</li>
        <li class="list-unstyled">Previsão de término: 06/2024</li>
      </ul>
    </div>
  </div>
</div>
