<div class="container-fluid">

  <div class="informacoes mt-5">
    <p class="title-info"> CAIO RODRIGO</p>
    <span class="font-30"> Desenvolvedor Fullstack</span>

    <p class="mt-5">
      Olá, meu nome é Caio Rodrigo de Oliveira Programador e futuro Analista de Sistemas,
      bem vindo ao meu portifólio desenvolvido em Angular CLI.
    </p>
    <p class="font-20 bg-dark">&nbsp;&nbsp;&nbsp;Sobre Mim</p>
    <p>
      Atualmente estou cursando o 4º semestre de Análise e Desenvolvimento de Sistemas na
      Faculdade de Tecnologia (FATEC) de Praia Grande. <br>
      Minha experiência com programação é moldada ao longo de 5 anos, mantendo-me sempre
      atualizado com a tecnologias presentes no mercado, sendo as dominantes Java e Angular.
    </p>
    <p class="font-20 bg-dark">&nbsp;&nbsp;&nbsp;Tenologias</p>
    <div class="tecnologias">
      <div class="d-flex justify-content-evenly w-100">
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="java">
          <p>Java</p>
        </span>
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp">
          <p>C#</p>
        </span>
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" alt="html">
          <p>HTML5</p>
        </span>
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg" alt="css">
          <p>CSS3</p>
        </span>
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg" alt="javascript">
          <p>JavaScript</p>
        </span>
      </div>
      <div class="d-flex justify-content-evenly w-100">
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg" alt="typescript">
          <p>TypeScript</p>
        </span>
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="bootstrap">
          <p>TypeScript</p>
        </span>
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg" alt="mysql">
          <p>MySql</p>
        </span>
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original.svg" alt="postegresql">
          <p>PostgreSQL</p>
        </span>
        <span class="d-flex flex-column align-items-center">
          <img height="40" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/spring/spring-original.svg" alt="logo springboot">
          <p>SpringBoot</p>
        </span>
      </div>
    </div>

    <div class="saiba-mais d-flex justify-content-center mt-5">
       <button data-bs-toggle="offcanvas" class="btn-saiba-mais" data-bs-target="#offcanvasNavbar"> Saiba mais </button>
    </div>

  </div>

  <div class="imagem">
    <img src="assets/image/devpng.png" alt="DevLogo">
  </div>
</div>
