<div class="container-fluid mb-5">
  <div class="informacoes">
    <div class="title-info align-self-center d-flex align-items-center gap-5">
      <span> PROJETOS </span>
      <span class="material-symbols-outlined font-50">
      dvr
      </span>
    </div>

    <hr class="hr-mobile w-80 align-self-center">

    <div class="projetos mt-5">

      <div class="projetos-row">
        <div class="bg-dark projeto aviso">
          <p>Avisos 2.0</p>
          <div class="avisos-descricao">
            <span> Projeto para admistração e controle de avisos ou tarefas.</span>
            <span>
              Tecnologias:
              <ul>
                <li>Java SpringBoot</li>
                <li>Angular 15</li>
                <li>Bootstrap</li>
                <li>PostgreSQL</li>
                <li>JPA Repository</li>
                <li>Swagger</li>
              </ul>
            </span>
            <span>
              Em desenvolvimento...<br>
              Github: <a href="https://www.github.com/caiorodriveira/Avisos-2.0">https://www.github.com/caiorodriveira/Avisos-2.0</a>
            </span>
          </div>
        </div>
        <div class="col-5 bg-dark projeto acessounico">
          <p>Acesso Unico</p>
          <div class="acessounico-descricao">
            <span> Sistema para controle de acesso aos usuarios nos sistemas internos da Prefeitura de São Vicente .</span>
            <span>
              Tecnologias:
              <ul>
                <li>Java SpringBoot</li>
                <li>Angular 14</li>
                <li>Bootstrap</li>
                <li>MySQL</li>
                <li>JPA Repository</li>
                <li>Swagger</li>
                <li>Spring Security</li>
              </ul>
            </span>
            <span>
              Disponível apenas nos servidores da empresa
            </span>
          </div>
        </div>
      </div>

      <div class="projetos-row">
        <div class=" bg-dark projeto recadastramento">
          <p>Recadastramento Anual</p>
          <div class="recadastramento-descricao">
            <span> Sistema para recadastrar servidores para migração de banco de dados da Prefeitura de São Vicente.</span>
            <span>
              Tecnologias:
              <ul>
                <li>Java SpringBoot</li>
                <li>Angular 15</li>
                <li>PostgreSQL</li>
                <li>Firebird</li>
                <li>JPA Repository</li>
                <li>Swagger</li>
                <li>Spring Security</li>
              </ul>
            </span>
            <span>
              Disponível apenas nos servidores da empresa
            </span>
          </div>
        </div>

        <div class="col-5 bg-dark projeto cdnpmsv">
          <p>CDN PMSV</p>
          <div class="cdnpmsv-descricao">
            <span> Criação de uma biblioteca cdn CSS para padronizar estilização dos sistemas internos da Prefeitura de São Vicente.</span>
            <span>
              Tecnologias:
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
              </ul>
            </span>
            <span>
              Disponível apenas nos servidores da empresa
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
