<div class="container-fluid mb-5">
  <div class="informacoes">
    <div class="title-info align-self-center d-flex align-items-center gap-5">
      <span> PROJETOS </span>
      <span class="material-symbols-outlined font-50">
      dvr
      </span>
    </div>

    <hr class="hr-mobile w-80 align-self-center">

    <div class="projetos mt-5">

      <div class="projetos-row">
        <div class="bg-dark projeto aviso">
          <p>Quadro de Avisos</p>
          <div class="avisos-descricao">
            <span> Projeto para admistração e controle de avisos ou tarefas.</span>
            <span>
              Tecnologias:
              <ul>
                <li>Java SpringBoot</li>
                <li>Angular 14</li>
                <li>Bootstrap</li>
                <li>PostgreSQL</li>
                <li>JPA Repository</li>
              </ul>
            </span>
            <span>
              Github: <a href="https://www.github.com/caiorodriveira/quadroAvisos">https://www.github.com/caiorodriveira/quadroAvisos</a>
            </span>
          </div>
        </div>
        <div class="col-5 bg-dark projeto acessounico">
          <p>Acesso Unico</p>
          <div class="acessounico-descricao">
            <span> Sistema para controle de acesso aos usuarios nos sistemas internos da Prefeitura de São Vicente .</span>
            <span>
              Tecnologias:
              <ul>
                <li>Java SpringBoot</li>
                <li>Angular 14</li>
                <li>Bootstrap</li>
                <li>MySQL</li>
                <li>JPA Repository</li>
                <li>Swagger</li>
                <li>Spring Security</li>
              </ul>
            </span>
            <span>
              Disponível apenas nos servidores da empresa
            </span>
          </div>
        </div>
      </div>

      <div class="projetos-row">
        <div class=" bg-dark projeto recadastramento">
          <p>Portal RH</p>
          <div class="recadastramento-descricao">
            <span> Sistema para de integração de sistemas referente a solicitações ao RH para os servidores da Prefeitura de São Vicente.</span>
            <span>
              Tecnologias:
              <ul>
                <li>Java SpringBoot</li>
                <li>Angular 15</li>
                <li>Bootstrap</li>
                <li>PostgreSQL</li>
                <li>JPA Repository</li>
                <li>Swagger</li>
                <li>Spring Security</li>
              </ul>
            </span>
            <span>
              Disponível apenas nos servidores da empresa
            </span>
          </div>
        </div>

        <div class="col-5 bg-dark projeto cdnpmsv">
          <p>Banco Digital</p>
          <div class="cdnpmsv-descricao">
            <span> Criação de um banco digital com função de cadastro de pessoas, contas e realização de transações.</span>
            <span>
              Tecnologias:
              <ul>
                <li>Java SpringBoot</li>
                <li>Angular 15</li>
                <li>Bootstrap</li>
                <li>PostgreSQL</li>
                <li>JPA Repository</li>
              </ul>
            </span>
            <span>
              Github: <a href="https://github.com/caiorodriveira/Banco-Spring">https://github.com/caiorodriveira/Banco-Spring</a>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
