<div class="container-fluid mb-5">
  <div class="informacoes">
    <div class="title-info align-self-center d-flex align-items-center gap-5">
      <span> PROJETOS </span>
      <span class="material-symbols-outlined font-50">
      dvr
      </span>
    </div>

    <div class="projetos d-flex flex-column mt-5 gap-5">

      <div class="row justify-content-center">
        <div class="col-md-5 bg-dark projeto aviso">
          <p>Avisos 2.0</p>
          <div class="avisos-descricao">
            Projeto para administrar o controle de avisos ou tarefas.
          </div>
        </div>
        <div class="col-md-5 bg-dark projeto acessounico">
          <p>Acesso Unico</p>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-5 bg-dark projeto recadastramento">
          <p>Recadastramento Anual</p>
        </div>

        <div class="col-md-5 bg-dark projeto cdnpmsv">
          <p>CDN PMSV</p>
        </div>
      </div>

    </div>
  </div>
</div>
